.cart_screen{
    font-size: 3rem;
    width: 50vw;
    min-height: 100vh;
    background-color: var(--bg-1);
    position: fixed;
    top: 5rem;
     right: 0;
     z-index: 5;
     transition: all 0.5s;
     border-left: 1px solid white;
     color: white;
     transition: all .25s ease-in;
     
}
.heading{
    text-align: center;
    font-size: 4rem;
    /* padding: 2rem; */
}
   

.sub_heading{
    font-size: 4rem;
    /* padding: 2rem; */
    display: flex;
}
.sub_heading_product{
    width: 55%;
}
.sub_heading_total{
    margin-left: auto;
}

.order__wrapper{
    height: 50vh;
    overflow-y: auto;
}


.total{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    font-size: 5rem;
    margin-left: auto;
    padding-right: 10%;
  }



  .cart_checkout>div{
    width: 100%;
  }



.checkout{
    text-align: end;
    padding-right: 4rem;
    /* background-color: red; */
    display: grid;
    grid-template-columns:60% 40%;
}
.sub_total{
    font-size: 3rem;
    margin: 2rem;
    text-align: right;
  
    width: 100%;
}
.sub_total_comment{
    font-size: 1rem;
    margin: 2rem;
}
.btn_goto_cart{
    font-size: 2rem;
    width: 25rem;
    padding: 2rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
}

.goto_cart_wrapper{
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_close{
    font-size: 3rem;
        background-color: transparent;
   
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu_close >button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-3);
    color: white;
 
}


@media only screen and (max-width: 37.5em) {
    /* //600 */
    .cart_screen{
        width: 100%;
    }
    /* .sub_heading{
        background-color: red;
    } */
    .sub_heading_total{
        margin-right: auto;
    }
  }