.wrapper{
    width: 50%;
    height: 95vh;
    background-color: var(--bg-1);
    position: fixed;
    top: 5rem;
    right: 0;
    z-index: 2;
    border: 1px solid white;
    border-top-left-radius: 2.1rem;
    
}

.close__bar{
    width: 100%;
    height: 4rem;
    /* background-color: red; */
    display: flex;
}
.btn__close{
  width: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.chartHeader{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    /* background-color: red; */
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
    color: white;
   
}
.chartHeader__block{
    font-size: 3rem;
    width: 4rem;
}

.chartBody{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.chartBody__block{
    font-size: 3rem;
    width: 4rem;
    color: white;

}

@media only screen and (max-width: 37.5em) {
    /* //600 */
    .wrapper{
      width: 100%;
     
     }
  }